nav a{
    font-family: "Bebas Neue", Arial;
    font-size: 12px;
    display:inline;
    text-transform:uppercase;
    font-weight:bold;
    text-decoration: none;
    color:white;
}

.bg-semi{
    background-color: rgba(56, 50, 55, 0.6)
}

.navbar-nav ul{
    position:relative;
    margin-left:30px;
}

#logo{
    color:white;
    margin:0;
    font-size : 20px;
    padding-right: 40px;
    font-weight:bold;
    text-transform: uppercase;
}

#top-page-bg{
    top:0;
    background-image: url(/assets/main-bg.jpg);
    background-size: 100% 100%;
}

#top-page{
        text-align: center;
        justify-content: center;
        margin-top:200px;

    }

.top-margin{
    margin-top: 50px;
    margin-bottom: 10px;
}
.space{
    padding-left: 30px;
    padding-right: 30px;
}    

#the-story{
    font-family: "Bebas Neue", Arial;
    font-size: 14px;
    color:white;
    font-weight: bold;
    margin-top: 240px;
    margin-bottom: 0;
}

h1{
    font-family:"Bebas Neue","arial";
    font-weight: bold;
    font-size: 120px;
    display: block;
    text-align:center;
    color:white;
}

body{
    font-family: "Bebas Neue","Arial";
    font-size: 18px;
}

h3{
    font-family: 'Bebas Neue','Arial';
    color: white;
}

#special{
    background-image : url(/assets/the-games-bg.jpg);
    background-size: 100% 100%;
    color : white;
    position: relative;
    width: 100%;

}

.up-case {
    font-size : 48px;
    text-transform: uppercase;
}

.margin-special {
    margin-top : 200px;
    margin-left : 80px;
}

.flex-row-pics {
    display : flex;
    flex-direction : row;
}

#image-special{
    margin-top : 240px;
    display:flex;
    flex-direction : row;
    align-items: center;
    max-width : 70%;
    margin-bottom: 170px;
}

.resize {
    width : 800px;
    height: 450px;
    margin-left: 10px;
    margin-right: 10px;
}

.no-margin{
    margin-top : 0px;
    margin-bottom : 0px;
    padding:0px;
}

#botak {
    background-image: url(/assets/features.jpg);
    background-size: 100% 100%;
    position:relative;
    color: white;
}

.flex-row-end {
    display : flex;
    flex-direction: row;
    justify-content: flex-end;
}

.botak-margin{
    margin-top : 200px;
    margin-right: 80px;   
}
